@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Buzón de Quejas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/imagenes/faviconV2.png">
</head>
<body>
    <header>
        <nav class="navbar navbar-light border-color-nav mb-4">
            <div class="container-fluid ">
                <div class="container-fluid">
                    <div class="row align-items-center ">

                        <div oncontextmenu='return false' ondragstart='return false' onmousedown='return false' onselectstart='return false' class="col-2">
                            <img src="~/imagenes/escudoPuebla.png" class="mx-auto d-block" style="width:4vw;" alt="Escudo de Puebla">
                        </div>
                        <div class="col-8">
                            <div class="row justify-content-center">
                                @if (User.IsInRole("Administrador") || User.IsInRole("Root") || User.IsInRole("Departamental") || User.IsInRole("UnidadAdministrativa"))
                                {
                                    <div class="col mr-auto text-center">
                                        <a class="nav-link opcion-color w-75 mx-auto" asp-area="" asp-controller="Queja" asp-action="Index">Mis Quejas</a>
                                    </div>
                                }

                                @if (User.IsInRole("Administrador") || User.IsInRole("Root") || User.IsInRole("Departamental"))
                                {
                                    <div class="col mr-auto text-center">
                                        <a class="nav-link opcion-color w-75 mx-auto" asp-area="" asp-controller="Queja" asp-action="Create">Levantar Queja</a>
                                    </div>
                                }

                                @if (User.IsInRole("Administrador") || User.IsInRole("Root") || User.IsInRole("Departamental") || User.IsInRole("Fiscal"))
                                {
                                    <div class="col mr-auto text-center">
                                        <a class="nav-link opcion-color w-50 mx-auto" asp-area="" asp-controller="Queja" asp-action="Tablero">Tablero</a>
                                    </div>
                                }
                                <div class="col mr-auto text-center ">
                                    <a class="nav-link opcion-color w-50 mx-auto" asp-area="" asp-controller="Acceso" asp-action="Salir">Salir</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <img src="~/imagenes/Logotipo_institucional.png" class="mx-auto d-block" style="width:11vw;" alt="Fiscalia General del Estado de Puebla">
                        </div>
                    </div>
                </div>
            </div>
            @*<hr class="bg-dark w-100">*@

        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - BuzonQuejas3 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Login.js" asp-append-version="true"></script>
    <script src="~/js/CrearQueja.js" asp-append-version="true"></script>
    <script src="~/js/Quejas.js" asp-append-version="true"></script>
    <script src="~/js/Seguimiento.js" asp-append-version="true"></script>
    <script src="~/js/Tablero.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
