@{
    ViewData["Title"] = "Política de Privacidad";
}

<link rel="stylesheet" href="~/css/Privacy.css" />

<div class="container-fluid container-privacy-image">
   
</div>
<div class="container-fluid container-privacy-text">
    <div class="row justify-content-center">
        <div class="col-12 mt-5">
            <h1 class="text-center titulo-privacidad">@ViewData["Title"]</h1>
        </div>
        
        <div class="col-12 mt-5">
            <h5 class="text-center subtitulo-privacidad">No puede acceder a ésta página con el usuario actual</h5>
        </div>

    </div>
</div>
