:root {
    --primary-color: #BDC1BF;
    --secondary-color: #B28510;
    --secondary-color-opacity: rgb(239, 190, 67);
    --hover-text-color: #DBAB00;
    --primary-color-rgba: rgba(10, 10, 10, 0.5);
    --white-menu-color: white;
    --black-menu-color: black;
    --gray-menu-color: #aa9d14;
    --offcanvas-background-color: gray;
    --links-color: #232323;
    --tabs-options-color: #575757;
    --tabs-options-hover-color: gray;
    --animation-background-color: #A5957E;
    --animation-hover-color: #332700;
    --facebook-twitter-background-color: gray;
    --gris--fuerte2: #5b5e63;
    --gris--fuerte: #b3b7bb;
    --table-hover-bg: #bdc1bf;
}
/*body {
    background: var(--tabs-options-color) !important;
}*/
.enviar-bttn-queja {
    width: 100%;
    background: var(--secondary-color) !important;
    color: white !important;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #dcc081;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(173 135 48 / 25%);
}

.enviar-bttn-queja:hover {
    width: 100%;
    background: var(--hover-text-color) !important;
    color: white !important;
}

.aceptar-bttn {
    width: 20%;
    background: var(--secondary-color) !important;
    color: white !important;
}

.titulo-nueva {
    color: var(--gris--fuerte2) !important;
    font-weight: bold;
}

/*.modal-content-reasignar {
    background-color: var(--table-hover-bg2) !important;
}*/

.modal-header {
    background-color: var(--secondary-color) !important;
    /*background-color: #d6dbda !important;*/
}

.modal-content {
    background-color: #d6dbda !important;
}

.modal-footer {
    border-top: 0px !important;
}

/*.bg-form-nueva {
    background: var(--gris--fuerte) !important;
    border-radius: 25px;
}

.select2-selection--single {
    height: 100% !important;
}*/

.select2-selection__rendered {
    word-wrap: break-word !important;
    text-overflow: inherit !important;
    white-space: normal !important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ced4da !important;
    border-radius: 4px;
    height: 100% !important;
}

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #444 !important;
        line-height: 58px;
    }

.select2-container .select2-selection--single .select2-selection__rendered {
    word-wrap: break-word !important;
    text-overflow: inherit !important;
    white-space: normal !important;
}

/*selected css*/
.select2-container--default .select2-results__option--selected {
    color: gray;
    background: rgb(221 221 221 / 32%) !important;
}

/*hover css*/
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: var(--secondary-color-opacity) !important;
    color: white;
}

.select2-container--default .select2-search__field {
    outline: var(--secondary-color-opacity) solid 2px;
    -webkit-appearance: textfield;
    border-radius: 5px;
}

