:root {
    --primary-color: #BDC1BF;
    --secondary-color: #B28510;
    --secondary-color-opacity: rgb(239, 190, 67);
    --hover-text-color: #DBAB00;
    --primary-color-rgba: rgba(10, 10, 10, 0.5);
    --white-menu-color: white;
    --black-menu-color: black;
    --gray-menu-color: #aa9d14;
    --offcanvas-background-color: gray;
    --links-color: #232323;
    --tabs-options-color: #575757;
    --tabs-options-hover-color: gray;
    --animation-background-color: #A5957E;
    --animation-hover-color: #332700;
    --facebook-twitter-background-color: gray;
    --gris--fuerte2: #5b5e63;
    --gris--fuerte: #b3b7bb;
    --table-hover-bg: #bdc1bf;
    --table-hover-bg2: #EAECEB;
}

.contenedor-tabla {
    border-color: var(--primary-color) !important;
    border: 1px solid #000;
}

/*.row-table:hover {
    color: rgb(112,24,78);
    background-color: #ffc107 !important;
}*/

.enviar-bttn {
    color: white !important;
    width: 80%;
    background: var(--tabs-options-color) !important;
}


.buscar-bttn {
    color: white !important;
    width: 100%;
    background: var(--secondary-color) !important;
}

    .buscar-bttn:hover {
        color: white !important;
        background: var(--hover-text-color) !important;
    }

.seguimiento-bttn {
    color: white !important;
    width: 50%;
    height: 30px;
    background: var(--secondary-color) !important;
    /*font-size:10px;*/
}

    .seguimiento-bttn:hover {
        color: white !important;
        width: 50%;
        background: var(--hover-text-color) !important;
    }

.reasignar-bttn {
    color: white !important;
    width: 100%;
    height: 30px;
    background: var(--secondary-color) !important;
    vertical-align: middle;
    padding: 0px;
    margin-left:5px;
    margin-right:5px;
}

.reasignar-modal-bttn {
    color: white !important;
    width: 100%;
    background: var(--secondary-color) !important;
}

.salir-modal-bttn {
    color: white !important;
    width: 20%;
    background: var(--secondary-color) !important;
}

.size-icon {
    font-size: 20px;
    text-align: center;
}

.size-order {
    font-size: 13px;
    text-align: center;
    font-weight: bold;
}

.header-table {
    background-color: var(--gris--fuerte) !important;
}

td {
    border-bottom: 2px solid var(--gris--fuerte) !important;
}

.table-row:hover {
    background-color: var(--table-hover-bg2) !important;
}

.titulo {
    color: var(--gris--fuerte2) !important;
    font-weight: bold;
}

.user-name {
    color: var(--gris--fuerte2) !important;
    font-weight: bold !important;
    font-size: 12px;
    border-bottom: 2px solid var(--gris--fuerte) !important;
    width:15%;
    float:right;
}
/*.titulo:hover{
    color: var(--tabs-options-color);
}*/
.td-index {
    max-width: 50px;
    overflow: hidden;
    text-overflow: clip;
    white-space: normal;
    max-height: 5px !important;
}

.text-icon {
    font-size: 10px;

}

.select {
    width:100% !important;
}

.header-text{
    color: black !important;
}

.header {
    position: sticky;
    top: 0;
}

table {
    height: 450px;
    display: inline-block;
    overflow-y: scroll;
}

/*.modal-content-reasignar {
    background-color: var(--table-hover-bg2) !important;
}*/

.modal-header {
    background-color: var(--secondary-color) !important;
    /*background-color: #d6dbda !important;*/
}

.modal-content {
    background-color: #d6dbda !important;
}

.modal-footer {
    border-top: 0px !important;
}

.select2-selection__rendered {
    word-wrap: break-word !important;
    text-overflow: inherit !important;
    white-space: normal !important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ced4da !important;
    border-radius: 4px;
    height: 100% !important;
}

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #444 !important;
        line-height: 58px;
    }

.select2-container .select2-selection--single .select2-selection__rendered {
    word-wrap: break-word !important;
    text-overflow: inherit !important;
    white-space: normal !important;
}

/*selected css*/
.select2-container--default .select2-results__option--selected {
    color: gray;
    background: rgb(221 221 221 / 32%) !important;
}

/*hover css*/
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: var(--secondary-color-opacity) !important;
    color: white;
}

