:root {
    --primary-color: #BDC1BF;
    --secondary-color: #B28510;
    --hover-text-color: #DBAB00;
    --primary-color-rgba: rgba(10, 10, 10, 0.5);
    --white-menu-color: white;
    --black-menu-color: black;
    --gray-menu-color: #aa9d14;
    --offcanvas-background-color: gray;
    --links-color: #232323;
    --tabs-options-color: #575757;
    --tabs-options-hover-color: gray;
    --animation-background-color: #A5957E;
    --animation-hover-color: #332700;
    --facebook-twitter-background-color: gray;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #dcc081;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(173 135 48 / 25%);
}

.enviar-bttn-seguimiento {
    width: 100%;
    background: var(--secondary-color) !important;
    color: white !important;
}

.enviar-bttn-seguimiento:hover {
    width: 100%;
    background: var(--hover-text-color) !important;
    color: white !important;
}

.titulo-seguimiento {
    color: var(--gris--fuerte2) !important;
    font-weight: bold;
}

.aceptar-bttn {
    width: 20%;
    background: var(--secondary-color) !important;
    color: white !important;
}

.modal-header {
    background-color: var(--secondary-color) !important;
    /*background-color: #d6dbda !important;*/
}

.modal-content {
    background-color: #d6dbda !important;
}

.modal-footer {
    border-top: 0px !important;
}

