:root {
    --primary-color: #BDC1BF;
    --secondary-color: #B28510;
    --hover-text-color: #DBAB00;
    --primary-color-rgba: rgba(10, 10, 10, 0.5);
    --white-menu-color: white;
    --black-menu-color: black;
    --gray-menu-color: #aa9d14;
    --offcanvas-background-color: gray;
    --links-color: #232323;
    --tabs-options-color: #575757;
    --tabs-options-hover-color: gray;
    --animation-background-color: #A5957E;
    --animation-hover-color: #332700;
    --facebook-twitter-background-color: gray;
    --gris--fuerte2: #5b5e63;
    --gris--fuerte: #b3b7bb;
    --table-hover-bg: #bdc1bf;
    --table-hover-bg2: #EAECEB;
    /*--bg-tablero: #d7dad9;*/
    --bg-tablero: #002733;
    --bg-tablero-strong: #515359;
}

.contenedor-tablero {
    background-color: var(--bg-tablero);
}

.titulo {
    /*color: var(--gris--fuerte2) !important;*/
    color: white !important;
    font-weight: bold;
}

.chartWrapperMunicipio {
    position: relative;
}

    .chartWrapperMunicipio > canvas {
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
    }

.chartAreaWrapperMunicipio {
    /*width: 400px;*/
    overflow-x: scroll;
}

.chartWrapperUnidad {
    position: relative;
}

    .chartWrapperUnidad > canvas {
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
    }

.chartAreaWrapperUnidad {
    /*width: 1000px;
    height:300px;*/
    overflow-x: scroll;
}

.chartWrapperEstatusUnidad {
    position: relative;
}

    .chartWrapperEstatusUnidad > canvas {
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
    }

.chartAreaWrapperEstatusUnidad {
    /*width: 600px !important;*/
    /*height:550px;*/
    overflow-x: scroll;
}

.chartWrapperDpto {
    position: relative;
}

.chartAreaWrapperDpto {
    /*overflow-y: scroll;*/
    overflow-x: auto;
    /*height: 300px;*/
    /*width: 500px;*/
}

    .chartAreaWrapperDpto > canvas {
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
    }

.chartAreaWrapper2Dpto {
    /*width: 1000px;*/
    height: 300px;
    position: relative;
}

.icon-home {
    font-size: 100px !important;
    text-align: center;
    color: var(--secondary-color);
    margin: 0px !important;
    padding: 0px !important;
}

.icon-atendidas {
    font-size: 60px !important;
    text-align: center;
    color: forestgreen;
}

.icon-pendientes {
    font-size: 60px !important;
    text-align: center;
    color: rgb(255, 51, 51);
}

.icon-home-inicio {
    font-size: 10px;
    text-align: center;
    font-weight: bold;
}

.size-inicio-text {
    font-size: 15px !important;
    text-align: left !important;
    font-weight: 600;
    color: white;
    /*width:50px;*/
}

.size-salir-text {
    font-size: 15px !important;
    text-align: left !important;
    font-weight: 600;
    color: white;

    /*width:50px;*/
}

.size-total {
    font-size: 60px !important;
    text-align: center;
    color: white;
}

.size-total-text {
    font-size: 20px !important;
    text-align: center;
    font-weight: 600;
    color: white;
}

.text-atendidas-pendientes {
    font-size: 15px !important;
    text-align: center;
    font-weight: 600;
    color: white;
}

.size-total-atendidas {
    font-size: 30px !important;
    text-align: center;
    color: white;
}

.size-total-pendientes {
    font-size: 30px !important;
    text-align: center;
    color: white;
}

.card-total {
    background-color: var(--table-hover-bg2) !important;
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
}

.card-a-p {
    background-color: var(--table-hover-bg2) !important;
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
}

.titulo-card {
    background-color: #004e66 !important;
    /*background-color: var(--table-hover-bg2) !important;*/
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.card-all {
    /*border: 2px solid var(--bg-tablero);*/
    /*border-radius: 10px;*/
}

.filtrar-bttn {
    color: white !important;
    width: 100%;
    height: 40px !important;
    /*margin-top: 30%;*/
    background: var(--secondary-color) !important;
    padding: 1px;
    /*margin-top:30px;*/
    /*font-size:10px;*/
}

    .filtrar-bttn:hover {
        color: white !important;
        background: var(--hover-text-color) !important;
    }

.regresar-bttn {
    color: white !important;
    width: 50%;
    height: 40px !important;
    background: var(--secondary-color) !important;
    /*padding: 10px !important;*/
    /*margin-left:20px;*/
}

    .regresar-bttn:hover {
        color: white !important;
        background: var(--hover-text-color) !important;
    }

.salir-bttn {
    color: white !important;
    width: 50%;
    height: 40px !important;
    background: var(--secondary-color) !important;
    /*padding: 0px;*/
    padding-top:0px;
    /*margin-left:20px;*/
}

    .salir-bttn:hover {
        color: white !important;
        background: var(--hover-text-color) !important;
    }


.text-label {
    color: white;
    font-weight: 600;
}

.card-body {
    background-color: var(--bg-tablero);
}

.tarjetas {
    border-radius: 20px;
}

.card {
    background-color: transparent !important;
}

.container-fluid {
    padding: 0px 1px 0px 1px !important;
}

.nav-tabs .nav-item .nav-link {
    /*background-color: var(--secondary-color);*/
    color: #FFF;
}

    .nav-tabs .nav-item .nav-link.active {
        background-color: #009ccc;
        color: #FFF;
    }

.tab-content {
    color: white;
    /*display: none;*/
    /*padding: 100px 20px;*/
    height: 20vh;
}

.btn{
    padding: 0px !important;
}