:root {
    --primary-color: #BDC1BF;
    --secondary-color: #B28510;
    --hover-text-color: #DBAB00;
    --primary-color-rgba: rgba(10, 10, 10, 0.5);
    --white-menu-color: white;
    --black-menu-color: black;
    --gray-menu-color: #aa9d14;
    --offcanvas-background-color: gray;
    --links-color: #232323;
    --tabs-options-color: #575757;
    --tabs-options-hover-color: gray;
    --animation-background-color: #A5957E;
    --animation-hover-color: #332700;
    --facebook-twitter-background-color: gray;
    --gris--fuerte2: #5b5e63;
    --gris--fuerte: #b3b7bb;
    --table-hover-bg: #bdc1bf;
    --table-hover-bg2: #EAECEB;
}

.titulo {
    color: var(--gris--fuerte2) !important;
    font-weight: bold;
}

.chartWrapperMunicipio {
    position: relative;
}

    .chartWrapperMunicipio > canvas {
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
    }

.chartAreaWrapperMunicipio {
    /*width: 400px;*/
    overflow-x: scroll;
}

    .chartWrapperUnidad {
    position: relative;
}

    .chartWrapperUnidad > canvas {
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
    }

.chartAreaWrapperUnidad {
    /*width: 1000px;
    height:300px;*/
    overflow-x: scroll;
} 

.chartWrapperEstatusUnidad {
    position: relative;
}

    .chartWrapperEstatusUnidad > canvas {
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
    }

.chartAreaWrapperEstatusUnidad {
    /*width: 1000px;*/
    /*height:550px;*/
    overflow-x: scroll;
}

.chartWrapperDpto {
    position: relative;
}

    .chartWrapperDpto > canvas {
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
    }

.chartAreaWrapperDpto {
    /*width: 1000px;*/
    /*height:550px;*/
    overflow-y: scroll;
}

.icon-home {
    font-size: 100px !important;
    text-align: center;
    color: var(--secondary-color);
    margin:0px !important;
    padding:0px !important;
}

.icon-atendidas {
    font-size: 80px !important;
    text-align: center;
    color: forestgreen;
}

.icon-pendientes {
    font-size: 80px !important;
    text-align: center;
    color: red;
}

.size-total {
    font-size: 60px !important;
    text-align: center;
    color: black;
}

.size-total-text {
    font-size: 20px !important;
    text-align: center;
    font-weight: 600;
    color: black;
}

.text-atendidas-pendientes {
    font-size: 15px !important;
    text-align: center;
    font-weight: 600;
    color: black;
}

.size-total-atendidas {
    font-size: 40px !important;
    text-align: center;
    color: black;
}

.size-total-pendientes {
    font-size: 40px !important;
    text-align: center;
    color: black;
}

.card-total {
    background-color: var(--gris--fuerte) !important;
    border: 2px solid var(--gris--fuerte2);
    /*border-radius: 10px;*/
}

.card-a-p {
    background-color: var(--gris--fuerte) !important;
    border: 2px solid var(--gris--fuerte2);
    /*border-radius: 10px;*/
}

.titulo-card {
    background-color: var(--secondary-color) !important;
    /*color:var(--gris--fuerte2);*/
    font-weight:bold;
    font-size:20px;
}

.card-all {
    border: 2px solid var(--gris--fuerte2);
    /*border-radius: 10px;*/
}
