@model BuzonQuejas3.Models.Usuario

@{
    ViewData["Title"] = "Editar Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/EditarUsuario.css" />

<div class="row justify-content-center mt-5">
    <div class="col-12">
        <h1 class="text-center titulo-editar-usuario mb-2">Editar Usuario</h1>
    </div>
    @*@{
        if (ViewBag.SuccessMessage != null)
        {
            <div class="col-12">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <div class="modal fade modal-EditarUsuario-ok" id="exampleModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Tarea exitosa</h5>
                                    </div>
                                    <div class="modal-body">
                                        <strong>@ViewBag.SuccessMessage</strong>
                                    </div>
                                    <div class="modal-footer">
                                        <a asp-action="Usuarios" class="btn aceptar-bttn">Aceptar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }*@

    <div class="col-6">
        <form asp-action="EditarUsuario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UsuarioID" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" required/>
                @*<span asp-validation-for="Nombre" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" type="email" class="form-control" required />
                @*<span asp-validation-for="Correo" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Clave" class="control-label"></label>
                <input asp-for="Clave" class="form-control" required/>
                @*<span asp-validation-for="Clave" class="text-danger"></span>*@
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Activo" /> @Html.DisplayNameFor(model => model.Activo)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Rol" class="control-label"></label>
                <select asp-for="RolID" class="form-control" asp-items="ViewBag.RolID" required></select>
                @*<span asp-validation-for="RolID" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Departamento" class="control-label"></label>
                <select asp-for="DepartamentoID" class="form-control" asp-items="ViewBag.DepartamentoID" required></select>
                @*<span asp-validation-for="DepartamentoID" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="UnidadAdministrativa" class="control-label"></label>
                <select asp-for="UnidadAdministrativaID" class="form-control" asp-items="ViewBag.UnidadAdministrativaID" required></select>
                @*<span asp-validation-for="UnidadAdministrativaID" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn guardar-bttn-usuario" />
            </div>
        </form>
    </div>
</div>


@*@section Scripts {
<script src="~/js/EditarUsuario.js" asp-append-version="true"></script>
}*@
