@model BuzonQuejas3.Models.Usuario

@{
    ViewData["Title"] = "Reestablecer Contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/ReestablecerClave.css" />

<div class="row justify-content-center row-central no-gutters mt-5 ">
    <div class="col-12 mt-5 ">
        <h1 class="text-center titulo-reestablecer-clave">Reestablecer contraseña</h1>
    </div>
    @{
        if (ViewBag.SuccessMessage != null)
        {
            <div class="col-12 " id="col-modal">
                <div class="row justify-content-center ">
                    <div class="col-6">
                        <div class="modal fade modal-ReestablecerClave-ok" id="exampleModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                        <div class="modal-header">
                                            @if (@ViewBag.SuccessMessage == "Contraseña reestablecida correctamente")
                                            {
                                                <h5 class="modal-title" id="exampleModalLabel">Tarea exitosa</h5>
                                            }
                                            else
                                            {
                                                <h5 class="modal-title" id="exampleModalLabel">Tarea no exitosa</h5>

                                            }
                                        </div>
                                    <div class="modal-body">
                                        <strong>@ViewBag.SuccessMessage</strong>
                                    </div>
                                    <div class="modal-footer">
                                        @if (@ViewBag.SuccessMessage == "Contraseña reestablecida correctamente")
                                        {
                                            if (User.IsInRole("Fiscal"))
                                            {
                                                <a asp-controller="Queja" asp-action="Tablero" class="btn aceptar-bttn">Aceptar</a>

                                            }
                                            else
                                            {
                                                <a asp-controller="Queja" asp-action="Quejas" class="btn aceptar-bttn">Aceptar</a>
                                            }

                                        }
                                        else
                                        {
                                            <button type="button" class="btn salir-modal-bttn" data-dismiss="modal" id="salir-bttn">Salir</button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

    <div class="col-4">
        <form asp-action="ReestablecerClave">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <input type="hidden" asp-for="UsuarioID" />
            <div class="form-group">
                <input type="password" name="clave" class="form-control" required placeholder="Contraseña*"/>
            </div>
            <div class="form-group">
                <input type="password" name="confirmarClave" class="form-control" required placeholder="Confirmar Contraseña*"/>
            </div>

            <div class="form-group" id="usuario-id">
                <input name="userID" hidden class="form-control" value="@Html.DisplayFor(modelItem => modelItem.UsuarioID)" />
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn guardar-bttn-clave" id="guardar"/>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script src="~/js/ReestablecerClave.js" asp-append-version="true"></script>
}
