@model BuzonQuejas3.Models.Queja
@*@using Microsoft.AspNetCore.Identity*@

@{
    ViewData["Title"] = "Nueva Queja";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var DepartamentoUsuario = Context.User.FindFirst("DepartamentoID").Value;

}

<link rel="stylesheet" href="~/css/CrearQueja.css" />
<link href="https://cdn.jsdelivr.net/npm/select2/dist/css/select2.min.css" rel="stylesheet"/>

<div class="row justify-content-center mt-5">
    <div class="col-12 ">
        <h1 class="text-center titulo-nueva">Nueva Queja</h1>
    </div>
    @{
        if (ViewBag.SuccessMessage != null)
        {
            <div class="col-12">
                <div class="row justify-content-center">
                    <div class="col-6">
                        @*<a asp-action="Create" class="btn seguimiento-bttn ">Nueva</a>*@
                        <div class="modal fade modal-ok" id="exampleModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Tarea exitosa</h5>
                                        @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>*@
                                    </div>
                                    <div class="modal-body">
                                        <strong>@ViewBag.SuccessMessage</strong>
                                    </div>
                                    <div class="modal-footer">
                                        @*<button asp-action="Create" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                                        <a asp-action="Quejas" class="btn aceptar-bttn">Aceptar</a>
                                        @*<a asp-action="Create" class="btn aceptar-bttn">Aceptar</a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        }
    }
    <div class="col-6">

        <form asp-action="AgregarQueja">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Estatus" value="Pendiente" />
            <input type="hidden" asp-for="AtendidoPor" value="na" />
            <input type="hidden" asp-for="Resolucion" value="na" />
            <input type="hidden" asp-for="Folio" value="na" />
            <input type="hidden" asp-for="FechaAtencion" value="@DateTime.Now" />
            <input type="hidden" asp-for="DepartamentoID" value=@DepartamentoUsuario />
            <input type="hidden" asp-for="UnidadAdministrativaID" value="88f8cf91-458b-438c-b882-75a842387c64" />
            <div class="form-group mt-3">
                <input asp-for="NombreQuejante" class="form-control" placeholder="Nombre*" required/>
                @*<span asp-validation-for="NombreQuejante" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input asp-for="Direccion" class="form-control" placeholder="Dirección*" required />
                @*<span asp-validation-for="Direccion" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Municipio" class="control-label"></label>
                <select asp-for="MunicipioID" asp-items="ViewBag.municipios" class="form-control select2" required>
                    <option value="">Seleccione un municipio</option>
                </select>
                @*<span asp-validation-for="MunicipioID" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label class="control-label">Medio de recepción</label>
                <select asp-for="MedioID" asp-items="ViewBag.medios" class="form-control select2" required>
                    <option value="">Seleccione un medio de recepción</option>
                </select>
                @*<span asp-validation-for="MedioID" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input asp-for="Telefono" class="form-control" placeholder="Teléfono*" required pattern="[0-9]{10}" title="El teléfono debe constar de 10 dígitos numéricos"  />
                @*<span asp-validation-for="Telefono" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input asp-for="Correo" type="email" class="form-control" placeholder="Correo eléctronico*" required />
                @*<span asp-validation-for="Correo" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input asp-for="MotivoQueja" class="form-control" placeholder="Motivo de la queja*" required />
                @*<span asp-validation-for="MotivoQueja" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <textarea asp-for="RelatoHechos" class="form-control" placeholder="Relato de hechos*" required>
                </textarea>
                @*<span asp-validation-for="RelatoHechos" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input asp-for="ServidorInvolucrado" class="form-control" placeholder="Servidor público involucrado*" required />
                @*<span asp-validation-for="ServidorInvolucrado" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Cargo" class="control-label"></label>
                <select asp-for="CargoID" asp-items="ViewBag.cargos" class="form-control .cargoSelect select2" required>
                    <option value="">Seleccione un cargo</option>
                </select>
                @*<span asp-validation-for="CargoID" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label class="control-label">Fecha de creación*</label>
                <input asp-for="FechaCreacion" class="form-control" required />
                @*<span asp-validation-for="FechaCreacion" class="text-danger"></span>*@
            </div>

            <div class="form-group">
                <input type="submit" value="Enviar" class="btn enviar-bttn-queja" />
            </div>
        </form>

    </div>
</div>



@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/select2/dist/js/select2.min.js"></script>
    <script src="~/js/CrearQueja.js" asp-append-version="true"></script>
}
