@*@model IEnumerable<BuzonQuejas3.Models.Queja>*@
@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "Tablero Central";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var UnidadAdministrativa = (List<UnidadAdministrativa>)ViewData["unidades"];
    //var totalesPorUnidad = (Dictionary<string, string>)ViewData["totalPorUnidad"];
    //var totalesPorMunicipio = (Dictionary<string, string>)ViewData["totalPorMunicipio"];
    //var username = Context.User.FindFirst("Correo");
}

<link rel="stylesheet" href="~/css/Tablero.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container-fluid contenedor-tablero">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-2">
                    <a asp-action="Quejas" class="btn regresar-bttn  float-right my-4">Ir a quejas</a>
                </div>
                <div class="col-6">
                    <h1 class="text-right titulo my-4">Tablero Central de Quejas  </h1>
                </div>
                <div class="col-4">
                    <div class="row ">
                        <div class="col-12">
                            <form id="AjaxForm" method="post">
                                <div class="row justify-content-center align-items-end  no-gutters">
                                    <div class="col-3 mr-2">
                                        <div class="form-group text-center">
                                            <label class="text-label">Año</label>
                                            <select type="text" class="form-control" id="fechaAnio" name="anio" required></select>
                                            @*<input type="text" class="form-control" id="fechaAnio" name="anio" placeholder="p. ej. 2020" required pattern="[0-9]{1,4} " title="Ingrese 4 números">*@
                                        </div>
                                    </div>
                                    <div class="col-auto mr-2">
                                        <div class="form-group text-center">
                                            <label class="text-label">Mes</label>
                                            <select type="text" class="form-control" id="fechaMes" name="mes"></select>
                                        </div>
                                    </div>
                                    <div class="col-auto" id="group-day">
                                        <div class="form-group text-center">
                                            <label class="text-label">Día</label>
                                            <select type="text" class="form-control " id="fechaDia" name="dia"></select>
                                        </div>
                                    </div>
                                    <div class="col-2 ml-2">
                                        <div class="form-group ">
                                            <button type="submit" class="btn filtrar-bttn" id="filtrarFecha">Filtrar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="generalTab-tab" data-toggle="tab" href="#generalTab" role="tab" aria-controls="generalTab" aria-selected="true">General</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="unidadAdministrativaTab-tab" data-toggle="tab" href="#unidadAdministrativaTab" role="tab" aria-controls="unidadAdministrativaTab" aria-selected="false">Unidades Administrativas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="municipioTab-tab" data-toggle="tab" href="#municipioTab" role="tab" aria-controls="municipioTab" aria-selected="false">Municipios</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="generalTab" role="tabpanel" aria-labelledby="generalTab-tab">
                    <div class="row">
                        <div class="col-4">
                            <div class="card bg-light card-all">
                                <div class="card-header text-center titulo-card">Quejas de hoy @DateTime.Now.Date.ToShortDateString()</div>
                                <div class="card-body">
                                    <canvas id="EstatusDiarioGraph" style="max-height: 200px; width: 100%;height:200px;background-color: white"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 ">
                            <div class="row no-gutters">
                                @* card total quejas *@
                                <div class="col-12 mb-1">
                                    <div class="card text-white card-total">
                                        <div class="card-body tarjetas">
                                            <div class="row">
                                                <div class="col-2 text-center">
                                                    <span class="material-icons icon-home">
                                                        email
                                                    </span>
                                                </div>
                                                <div class="col-10">
                                                    <div class="row">
                                                        <div class="col-12 text-center size-total" id="totalQuejas">

                                                        </div>
                                                        <div class="col-12 text-center size-total-text">
                                                            Quejas recibidas en total
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @* card total atendidas *@
                                <div class="col-6">
                                    <div class="card text-white card-a-p">
                                        <div class="card-body tarjetas">
                                            <div class="row">
                                                <div class="col-4 text-left">
                                                    <span class="material-icons icon-atendidas">
                                                        mark_email_read
                                                    </span>
                                                </div>
                                                <div class="col-8">
                                                    <div class="row">
                                                        <div class="col-12 text-center size-total-atendidas" id="totalAtendidas">

                                                        </div>
                                                        <div class="col-12 text-center text-atendidas-pendientes">
                                                            Atendidas
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @* card total pendientes *@
                                <div class="col-6">
                                    <div class="card text-white card-a-p ">
                                        <div class="card-body tarjetas">
                                            <div class="row">
                                                <div class="col-4 text-center">
                                                    <span class="material-icons icon-pendientes">
                                                        mail_lock
                                                    </span>
                                                </div>
                                                <div class="col-8">
                                                    <div class="row">
                                                        <div class="col-12 text-center size-total-pendientes" id="totalPendientes">

                                                        </div>
                                                        <div class="col-12 text-center text-atendidas-pendientes">
                                                            Pendientes
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card bg-light card-all">
                                <div class="card-header text-center titulo-card">Estatus global de quejas</div>
                                <div class="card-body">
                                    <canvas id="EstatusGraph" style="max-height: 200px; width: 100%;height:200px;"></canvas>
                                </div>
                            </div>
                        </div>
                        @if (User.IsInRole("Administrador") || User.IsInRole("Root") || User.IsInRole("Fiscal"))
                        {
                            <div class="col-4">
                                <div class="card bg-light card-all">
                                    <div class="card-header text-center titulo-card">Departamentos</div>
                                    <div class="card-body">
                                        <div class="chartWrapperDpto">
                                            <div id="chartAreaWrapperDpto" class="chartAreaWrapperDpto">
                                                <div id="chartAreaWrapper2Dpto" class="chartAreaWrapper2Dpto">
                                                    <canvas id="DepartamentosGraph" style="max-height: 600px; width: 100%; height: 300px;"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 mt-1">
                                <div class="card bg-light card-all">
                                    <div class="card-header text-center titulo-card">Medios de recepción</div>
                                    <div class="card-body">
                                        <canvas id="MediosGraph" style="max-height: 300px; width: 100%;height:300px;"></canvas>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-7 mt-1">
                                <div class="card bg-light card-all">
                                    <div class="card-header text-center titulo-card">Medios de recepción</div>
                                    <div class="card-body">
                                        <canvas id="MediosGraph" style="max-height: 300px; width: 100%;height:300px;"></canvas>
                                    </div>
                                </div>
                            </div>
                        }


                        <div class="col-5 mt-1">
                            <div class="card bg-light card-all">
                                <div class="card-header text-center titulo-card">Total de quejas anual</div>
                                <div class="card-body">
                                    <canvas id="EstatusAnualGraph" style="max-height: 300px; width: 100%;height:300px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tab-pane fade" id="unidadAdministrativaTab" role="tabpanel" aria-labelledby="unidadAdministrativaTab-tab">
                    <div class="row">
                        <div class="col-6">
                            <div class="card bg-light card-all">
                                <div class="card-header text-center titulo-card">Quejas por unidad administrativa</div>
                                <div class="card-body">
                                    <div class="chartWrapperUnidad">
                                        <div id="chartAreaWrapperUnidad" class="chartAreaWrapperUnidad" onwheel="scrollUnidadesHandle(event)">
                                            <div id="chartAreaWrapper2Unidad" class="chartAreaWrapper2Unidad" style="max-height: 400px; width: 100%; height: 400px;">
                                                <canvas id="UnidadesGraph" style="max-height: 400px; width: 100%; height: 400px;"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="card bg-light card-all">
                                <div class="card-header text-center titulo-card">Estatus por unidad administrativa</div>
                                <div class="card-body">
                                    <div class="chartWrapperEstatusUnidad">
                                        <div id="chartAreaWrapperEstatusUnidad" class="chartAreaWrapperEstatusUnidad" onwheel="scrollEstatusUnidadesHandle(event)">
                                            <div id="chartAreaWrapper2EstatusUnidad" class="chartAreaWrapper2EstatusUnidad">
                                                <canvas id="EstatusUnidadesGraph" style="max-height: 400px; width: 100%; height: 400px; "></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="municipioTab" role="tabpanel" aria-labelledby="municipioTab-tab">
                    <div class="row">
                        <div class="col-6 mt-1">
                            <div class="card bg-light card-all">
                                <div class="card-header text-center titulo-card">Quejas por municipio</div>
                                <div class="card-body">
                                    <div class=" chartWrapperMunicipio">
                                        <div id="chartAreaWrapperMunicipio" class="chartAreaWrapperMunicipio" onwheel="scrollMunicipiosHandle(event)">
                                            <div id="chartAreaWrapper2Municipio" class="chartAreaWrapper2Municipio">
                                                <canvas id="MunicipiosGraph" style="max-height: 400px; width: 100%; height: 400px;"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 mt-2">
            <div class="row">
               
                
                
                

                


                
               

            </div>

        </div>

    </div>
</div>
@section Scripts {
    <script src="~/js/Tablero.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0-rc.1/chartjs-plugin-datalabels.min.js" integrity="sha512-+UYTD5L/bU1sgAfWA0ELK5RlQ811q8wZIocqI7+K0Lhh8yVdIoAMEs96wJAIbgFvzynPm36ZCXtkydxu1cs27w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>*@
}
